<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <p>I am a data scientist currently working on AI for cardiac health. I research epistemic and semantic uncertainty in the language of radiology reporting. See my github for relevant code.</p>

        <p>I am also interested in AI for ecology and bio-systems. What can we save...</p>

<p>Formerly a student of eighteenth-century philosophy. I am a lapsed arts student stumbling through STEM. I wrote a dissertation on the third Earl of Shaftesbury (1671-1713). I'm always up for a chat about the history of moral philosophy, eighteenth-century politics of land, the British abolition movement, and Bernard Williams.</p> 

        <p>I maintain an email letter of dubious merit at walfred.substack.com.</p>

        <p>My twitter is @willlmaclean.</p>

        <p>Reach my email at willmaclean (at) gmail.com</p>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
